/* Dark Theme Gia Như */

/* Dark Theme An */
.mode-container {
  width: 24px;
  height: 24px;
  padding: 3px 0;
  margin-left: 20px;
}

.mode-container {
  display: block;
}

.mode-container {
  display: none;
}

/*-- //dark and light mode styling --*/
button.navbar-toggler .icon-close {
  display: block;
}

button.navbar-toggler .icon-expand {
  display: none;
}

button.navbar-toggler.collapsed .icon-close {
  display: none;
}

button.navbar-toggler.collapsed .icon-expand {
  display: block;
}
.dark-theme .why__right h3 {
  color: white;
}
.dark-theme .w3l-pricing-7-top h6 {
  color: white;
}

/* Dark Theme Duy Bình */
.dark-theme#body {
  background-color: #151515;
}

/* Dark Theme Video CSS */
.dark-theme .video__title h3 {
  color: #dddddd;
}

.dark-theme .video__title p {
  color: #afafaf;
}

/* Dark Theme Tesimonial CSS */
.dark-theme .testimonial {
  background-color: #222222;
}

.dark-theme .testimonial-title h3 {
  color: #dddddd;
}

.dark-theme .testimonial-item {
  background-color: #151515;
}

.dark-theme .testimonial-item__quote p {
  color: #afafaf;
}

.dark-theme .testimonial-item__name p:first-of-type {
  color: white;
}

/* Dark Theme Form Email CSS */
.dark-theme .form-email__title h3 {
  color: #dddddd;
}

.dark-theme .form-email__title p {
  color: #afafaf;
}

/* Dark Theme Footer CSS */
.dark-theme footer a,
.dark-theme footer p {
  color: #afafaf;
}
